# vi/vim buffer file #
.*.swp
testcmplx
#CMakeFiles/
#Makefile
#CMakeCache.txt
#cmake_install.cmake
#Testing/
#CTestTestfile.cmake
CMakeFiles/testcmplx.dir/depend.internal
CMakeFiles/testcmplx.dir/testcmplx.cpp.o.d
build/CMakeFiles/testcmplx.dir/depend.internal
